body{
	background: #f8f8f8!important
}
.brad-20{
	border-radius: 20px!important
}
@media only screen and (max-width:570px){
	.post-outer{
		padding-right: 0!important;
		padding-left: 0!important
	}
	.post-outer .card{
		border-left: none;
		border-right: none;
		border-radius: 0
	}
}
.link{
	border-bottom: 1px solid #4e73df!important
}
.swal-footer {
  text-align: center
}